@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


body{
    font-family: "Inter", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

/* Global Container Styles */
.container {
    @apply py-20 px-20 max-w-[1200px]; /* Setting Default Container Width And Padding */
    margin: 0 auto;
  }
  
  /* Responsive Styles For Tablet (Max-Width: 1024px) */
  @media (max-width: 1024px) {
    .container {
      @apply px-10; /* Reducing Padding For Tablets */
    }
  }
  
  /* Responsive Styles For Mobile (Max-Width: 768px) */
  @media (max-width: 768px) {
    .container {
      @apply px-5; /* Further Reducing Padding For Mobile Devices */
    }
  }
  
  /* Padding Utility Classes */
  .padding-y-12 {
    @apply py-12; /* Applying Vertical Padding Of 12 Units */
  }
  
  .padding-t-0{
      @apply pt-0;   /*Removing Top Padding */
  }
  .padding-b-0{
      @apply pt-0;   /*Removing Bottom Padding */
  }
  
  .padding-y-0 {
    @apply py-0; /* Removing Vertical Padding */
  }

  /* index.css */
.text-stroke {
    -webkit-text-stroke: 1px black;
    color: transparent; /* Ensures the text is transparent to show the stroke */
  }

  /* primary color */
  .primary{
    color: #D7F5DC;
  }
/* 
  .home-four .shane_tm_hero .content .job {
    color: #fff;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    padding: 8px 0 10px;
}
  */
  


  /* Button Style */
  .btn {
    display: inline-block;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-6px);
}

.btn-secondary{
  display: inline-block;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-decoration: none;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.btn-secondary:hover {
  background-color: transparent;
  color: black;
  transform: translateY(-6px);
}